<div class="card-nav">
  <div class="card">
    <div class="heading">Beauty Products</div>
    <div class="card-images">
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/beauty1.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Skin care</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/beauty2.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Hair care</h4>
        </div>
      </div>
      <br />
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/beauty3.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Makeup</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/beauty4.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Luxury Beauty</h4>
        </div>
      </div>
    </div>
    <div class="card-link"><a href="#">View all</a></div>
  </div>
  <div class="card">
    <div class="heading">Beauty & Personal Care</div>
    <div class="card-images">
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/card1.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Bath & shower care</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/card2.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Hair care</h4>
        </div>
      </div>
      <br />
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/card3.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Skin care</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/card4.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Deals & offers | visit the store</h4>
        </div>
      </div>
    </div>
    <div class="card-link"><a href="#">View all</a></div>
  </div>
  <div class="card">
    <div class="heading">Summer'22 Special</div>
    <div class="card-images">
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/cloth1.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Men's Clothing</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/cloth2.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Women's Clothing</h4>
        </div>
      </div>
      <br />
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/cloth3.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Kids Clothing</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/cloth4.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Footwear</h4>
        </div>
      </div>
    </div>
    <div class="card-link"><a href="#">View all</a></div>
  </div>
  <div class="card">
    <div class="heading">Birthday Store</div>
    <div class="card-images">
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/gift1.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Gift for the men</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/gift2.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Gift for the women</h4>
        </div>
      </div>
      <br />
      <div clas="card-images-row">
        <div class="card-images-cell">
          <img src="/img/card/gift3.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Gift for the boys</h4>
        </div>
        <div class="card-images-cell">
          <img src="/img/card/gifft4.jpg" class="card-images-cell-img" />
          <h4 class="card-images-text">Gift for the girls</h4>
        </div>
      </div>
    </div>
    <div class="card-link"><a href="#">View all</a></div>
  </div>
</div>
