<nav class="cat-nav">
  <center>
    <img class="cat-nav-item" src="\img\fashion.jpg" />
    <img class="cat-nav-item" src="\img\home.jpg" />
    <img class="cat-nav-item" src="\img\electronic.jpg" />
    <img class="cat-nav-item" src="\img\beauty.jpg" />
    <img class="cat-nav-item" src="\img\mobiles.jpg" />
    <img class="cat-nav-item" src="\img\menu1.jpg" />
    <img class="cat-nav-item" src="\img\menu2.jpg" />
    <img class="cat-nav-item" src="\img\offer.jpg" />
  </center>
</nav>
