<h2 class="menu heading">Deal of the Day</h2>
<div class="deals">
  <div class="deals-menu">
    <img class="deals-item" src="/img/DOD/dod1.jpg" />
    <img class="deals-item" src="/img/DOD/dod2.jpg" />
    <img class="deals-item" src="/img/DOD/dod3.jpg" />
    <img class="deals-item" src="/img/DOD/dod4.jpg" />
    <img class="deals-item" src="/img/DOD/dod5.jpg" />
    <img class="deals-item" src="/img/DOD/dod6.jpg" />
    <img class="deals-item" src="/img/DOD/dod7.jpg" />
    <img class="deals-item" src="/img/DOD/dod8.jpg" />
    <img class="deals-item" src="/img/DOD/dod10.jpg" />
  </div>
</div>
