<h2 class="menu heading">Exclusive Offers</h2>
<div class="deals">
  <div class="deals-menu">
    <center>
      <img class="deals-item" src="/img/DOD/beauty1.gif" />
      <img class="deals-item" src="/img/DOD/beauty2.gif" />
      <img class="deals-item" src="/img/DOD/beauty3.gif" />
      <img class="deals-item" src="/img/DOD/beauty5.gif" />
      <img class="deals-item" src="/img/DOD/beauty4.gif" />
      <img class="deals-item" src="/img/DOD/beauty6.gif" />
      <img class="deals-item" src="/img/DOD/beauty7.gif" />
      <img class="deals-item" src="/img/DOD/beauty8.gif" />
    </center>
  </div>
</div>
