<div class="footer1">
  <div class="text">
  <div class="footer1-heading">
    Online Shopping Website
  </div><br>
  <p class="footer1-content">
    Online shopping website is ecommerce website where people and see different items and buy the items. Also if anyone wants to sell their products online can also add the products and get the order from the website
  </p>
</div>
  
  
    <ul class="icons">
      <li>
        <a href="" class="link"><i class="fa-brands fa-linkedin"></i> </a>
      </li>
      <li>
        <a href="" class="link"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="" class="link"><i class="fa-brands fa-github"></i></a>
      </li>
      <li>
        <a href="" class="link"><i class="fa-brands fa-facebook"></i></a>
      </li>
    </ul>
    
    <p class="desc-text">
      copyright &copy;2022 
      <a href="https://github.com/Nehagaddam2909" class="link-me"
        >Neha Gaddam</a
      >
    </p>
  </div>

 
</div>
