<nav class="nav1">
  <ul class="nav1-ul">
    <li class="nav1-ul-li">
      <a href="/" class="<%= path==='/'?'active':''%>">OSW</a>
    </li>
    <li class="nav1-ul-li">
      <div class="nav1-ul-li-search">
        <input
          type="text"
          placeholder="search for products"
          class="nav1-ul-li-search-input"
        />
        <a href="" class="nav1-ul-li-search-icon">
          <i class="fa-solid fa-magnifying-glass"></i
        ></a>
      </div>
    </li>

    <li class="nav1-ul-li">
      <a class="nav1-ul-li-a"><i class="fa-solid fa-cart-shopping"></i></a>
    </li>
    <li class="nav1-ul-li">
      <a href="#" class="nav1-ul-li-btn">Seller</a>
    </li>
    <li class="nav1-ul-li">
      <div class="nav1-ul-li-dropdown">
        <a href="#" class="nav1-ul-li-btn">MEnu</a>
        <ul class="nav1-ul-li-ul">
          <li class="nav1-ul-li-ul-li"><a href="#">Fashion</a></li>
          <li class="nav1-ul-li-ul-li"><a href="#">Applinaces</a></li>
          <li class="nav1-ul-li-ul-li"><a href="#">Beauty</a></li>
          <li class="nav1-ul-li-ul-li"><a href="#">Electronics</a></li>
        </ul>
      </div>
    </li>
    <li class="nav1-ul-li">
      <a href="#" class="nav1-ul-li-btn">Login</a>
    </li>
  </ul>
</nav>
