<nav class="cat-nav">
  <center>
    <a href="/fashion">
      <img class="cat-nav-item" src="\img\fashion.jpg" />
    </a>
    <a href="/homeApp">
      <img class="cat-nav-item" src="\img\home.jpg" />
    </a>
    <a href="/electronics">
      <img class="cat-nav-item" src="\img\electronic.jpg" />
    </a>
    <a href="/beauty">
      <img class="cat-nav-item" src="\img\beauty.jpg" />
    </a>
    <a href="/electronics">
      <img class="cat-nav-item" src="\img\mobiles.jpg" />
    </a>
    <a href="/homeApp">
      <img class="cat-nav-item" src="\img\menu1.jpg" />
    </a>
    <a href="/homeApp">
      <img class="cat-nav-item" src="\img\menu2.jpg" />
    </a>
    <a href="/">
      <img class="cat-nav-item" src="\img\offer.jpg" />
    </a>
  </center>
</nav>
