<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/includes/header.ejs')%>
  </head>
  <body>
    <%- include('includes/includes/navigation.ejs')%>
    <main>
     <h1>Page not found</h1>
  </body>
</html>
