.card-nav {
  display: flex;
  justify-content: center;
  width: 100%;

  @include respond("tab-land") {
    display: grid;
    grid-template-columns: auto auto;
  }
  @include respond("phone") {
    display: inline-block;
    justify-content: center;
    align-items: center;
    //width: 100%;
  }
}
.card {
  box-shadow: 0 0.3rem 0.6rem 0.3rem rgba(0, 0, 0, 0.2);
  margin-left: 3rem;
  transition: 0.3s;
  width: 35rem;
  height: auto;
  background: #ffffff;
  @include respond("tab-land") {
    margin: auto;
    margin: 3rem;
    width: 45rem;
  }
  @include respond("tab-port") {
    margin: auto;
    margin: 3rem;
    width: 39rem;
  }
  @include respond("phone") {
    margin: auto;
    margin-top: 3rem;
  }

  &-images {
    display: table;
    justify-content: center;
    //  width: 100%;
    &-row {
      display: table-row;
    }
    &-cell {
      display: table-cell;
      &:first-child {
        padding-left: 1rem;

        @include respond("tab-land") {
          padding-left: 2.3rem;
        }
      }
      &-img {
        width: 90%;
      }
    }

    &-text {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  &-link {
    padding: 2rem;
    text-align: right;
    font-size: 1.5rem;
    text-decoration: none;
    //color: blue;
   // color: magenta;
  }
}

.card:hover {
  box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.2);
}
