.deals {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  // height: 5rem;
  &-menu {
    :first-child {
      //padding-left: .3rem;
      margin-left: 1.6rem;
    }
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    :not(:last-child) {
      margin-right: 1.6rem;
    }
  }
  &-item {
    width: 17rem;
    //height: 25rem;
  }
}
.menu {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(25deg, $color4, $color2);
}
