.div-order {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  position: absolute;
}
.order {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  width: 90rem;
  height: 5rem;
  margin: auto;
  display: table;
  padding: 1rem;
  //margin: 1rem;

  @include respond("tab-land") {
    width: 60rem;
  }
  @include respond("phone") {
    width: 38rem;
    justify-content: center;
  }

  &-title {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;

    @include respond("phone") {
      width: 40rem;
      font-size: 1.8rem;
      justify-content: center;
    }
  }
  &-products--item {
    list-style: none;
    font-size: large;
    font-weight: 500;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #138a1f;
    border-radius: 4px;
    color: #138a1f;
    text-transform: capitalize;
    justify-content: space-between;

    @include respond("phone") {
      //width: 40rem;
      font-size: 1.3rem;
      //justify-content: center;
    }
  }
}
