main.display_product_card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 1rem;
  justify-content: space-evenly;

  @include respond("tab-land") {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem;
  }
  @include respond("phone") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  //width: 100%;
}
.product-card {
  box-shadow: 0 0.3rem 0.6rem 0.3rem rgba(0, 0, 0, 0.2);
  width: 30rem;
  margin-left: 2rem;
  height: auto;
  background-color: #fff;
  margin-bottom: 3rem;
  @include respond("tab-port") {
    width: 32rem;
  }

  &-img {
    height: 25rem;
    width: 100%;
    padding-top: 0.4rem;
    // max-width: 20rem;
    object-fit: contain;
    margin: auto;
    display: block;
  }
  &-price {
    margin: 1rem;
    color: red;
    font-size: 2rem;
  }
  &-content {
    display: block;
    margin: 0;

    p {
      font-size: 1.7rem;
      text-align: justify;
      padding: 0.5rem;
      font-family: sans-serif;
      // text-justify: distribute-all-lines;
    }
  }

  &-title {
    font-size: 2rem;
    text-transform: uppercase;
    background-image: linear-gradient(25deg, $color4, $color2);
  }
  &-btn {
    display: flex;
    justify-content: space-evenly;
    a {
      font-size: 3rem;
      border-radius: 0%;
    }
  }

  &-submit {
    background-color: #fff;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, red, orange);
    color: $color3;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    &:hover {
      border-image-slice: 0;
      border-width: none;
      background-image: linear-gradient(to right, $color3, $color2);
      color: #fff;
    }
  }
}
.desc {
  justify-content: space-evenly;
}
.product-card:hover {
  box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.2);
}
