main.display_product_card {
  display: flex;
  //flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  @include respond("tab-land") {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem;
  }
  @include respond("phone") {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  //width: 100%;
}
.product-card {
  box-shadow: 0 0.3rem 0.6rem 0.3rem rgba(0, 0, 0, 0.2);
  width: 30rem;
  margin-left: 2rem;
  height: auto;
  margin-bottom: 3rem;
  @include respond("tab-port") {
    width: 32rem;
  }

  &-img {
    height: 20rem;
    max-width: 20rem;
    object-fit: cover;
    margin: auto;
    display: block;
  }
  &-content {
    display: block;
    margin: 0;

    p {
      font-size: 2rem;
      text-align: center;
    }
  }

  &-title {
    font-size: 2rem;
    text-transform: uppercase;
    background-image: linear-gradient(25deg, $color4, $color2);
  }
  &-btn {
    display: flex;
    justify-content: space-evenly;
    a {
      font-size: 3rem;
      border-radius: 0%;
    }
  }

  &-submit {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, red, orange);
    color: $color3;
    text-transform: uppercase;
    padding: 1rem;
    margin: 2rem;
    font-weight: bold;
    &:hover {
      border-image-slice: 0;
      border-width: none;
      background-image: linear-gradient(to right, $color3, $color2);
      color: #fff;
    }
  }
}
.desc {
  justify-content: space-evenly;
}
