<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/includes/header.ejs')%>
  </head>
  <body>
    <%- include('layouts/includes/navigation.ejs')%>

    <main>
      <div class="login">
        <div class="heading login-heading">Add products</div>
        <form action="/add-products" method="POST">
          <center>
            <!-- <label class="card-login-title">Title: </label><br /> -->
            <input
              type="text"
              name="title"
              class="login-text"
              placeholder="Title"
              required
            /><br />
            <!-- <label class="card-login-title">Price: </label><br /> -->
            <input
              type="text"
              name="price"
              class="login-text"
              placeholder="Price"
              required
            /><br />
            <!-- <label class="card-login-title">Description: </label><br /> -->
            <input
              type="text"
              name="desc"
              class="login-text"
              placeholder="Description"
              required
            />
            <br />
            <!-- <label class="card-login-title">Url: </label><br />-->
            <input
              type="text"
              name="url"
              class="login-text"
              placeholder="URL"
              required
            />
            <label class="login-label">Category: </label>
            <select name="category" class="login-category">
              <option value="fashion">Fashion</option>
              <option value="electronics">Electornics</option>
              <option value="homeApp">Home Appliances</option>
              <option value="beauty">Beauty</option>
            </select>
            <br />
            <input type="submit" class="login-btn" value="Add" />
          </center>
        </form>
      </div>
    </main>
  </body>
</html>
