<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/includes/header.ejs')%>
  </head>
  <body>
    <%- include('layouts/includes/navigation.ejs')%>
    <main>
      <h2>Page not found</h2>
    </main>
  </body>
</html>
